body{
    background-color:#F7F7FF;
}
main{
    width:400px;
    height:1150px;
    padding-left:60px;
    margin:auto;
}
header.logo img{
    width:105px;
    height:100px;
    margin-bottom: 5px;
}
.intro-text h1{
    font-size:65px;
    width:260px;
    height:240px;
    margin-top:5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}
.intro-text h4{
    width:270px;
    font-size: 20px;
    margin-bottom: 0;
    font-family: Montserrat;
    font-weight: normal;
    
}
.intro-image img{
    width:290px;
    height:180px;
}
section.html-form{
    width:270px;
    height:450px;
    background-color: #FFFFFF;
    border-radius: 30px;
    margin-top: 10px;
    box-shadow: 3px 3px 2px 2px #656568;
}
form.contact-form{
    padding-left: 18px;
    width:230px;
    
}
div h2{
    font-size: 30px;
    margin: 10px auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
div h3{
    margin-top: 1px;
    font-size: 15px;
    font-weight: normal;
}
input.contact-form-input{
    background-color:#ececec;
    border:1px solid #ececec;;
    border-radius:9px;
    width:220px;
    height:40px;
    font-size:15px;
    margin-bottom:10px;
    font-weight: normal;
    
}
[type="submit"]{
    height:50px;
    width:220px;
    border-radius:10px;
    background-color: #57EEAB;
    border:none;
    margin-top: 8px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
span.red-txt{
    color:#FF8480;
}
footer.footer{
    background-color: #FFFD8C;
    width:330px;
    height:260px;
    padding-left:70px;
}
.footer-text h5{
    font-size:18px;
    font-weight:bold;
    width:200px;
    margin-bottom:0px;
    padding-top: 15px;
}
.footer-text p{
    width:210px;
    margin-top:2px;
}
[type="checkbox"]{
    height:20px;
    width:20px;
}
span.text{
    font-size:20px;
}
[value="Hours"]{
    width:70px;
    height:30px;
    border-radius: 10%;
    border:none;
}
[value="City"]{
    width:180px;
    height:30px;
    border-radius: 10%;
    border:none;
}
[type="cal"]{
    margin-top:8px;
    background-color: #FF8480;
    width:260px;
    height:30px;
    border:none;
    border-radius:10px;
}
button[type="cal"]{
    color:#F7F7FF;
    font-weight: bold;
}
div.footer-icons{
    margin-top: 25px;
    margin-left: 20px;
}
img.image-1{
    margin-right:25px;
    border-radius: 14px;
}
img.image-2{
    margin-right: 25px;
}
img.image-3{
    margin-right: 25px;
}
img.image-4{
    margin-right: 25px;
}
@media(min-width:35rem){
    main{
        padding-left:10px;
        width:450px;
    }
   .intro-text h1{
    width:360px;
    margin-bottom:0px;
    height:210px;
   }
   .intro-text h4{
       width:500px;
       position:absolute;
   }
   .intro-image img{
       width:480px;
       height:250px;
       position:relative;
       top:60px;
       margin-bottom: 60px;
       
   }
   section.html-form{
       width:450px;
       height: 500px;
   }
   div h2{
        font-size: 40px;
        width:500px;
   }
   div h3{
       font-size: 35px;
       width:600px;
       font-weight: normal;
   }
   input.contact-form-input{
       width:400px;
   }
   [type="checkbox"]{
       height:25px;
       width: 25px;
   }
   span.text{
       font-size:23px;
   }
   [type="submit"]{
       width:400px;
   }
   div.contact-form-footer{
       width: 400px;
       margin-left:30px;
   }
   footer.footer{
       width:480px;
       margin-left:10px;
       height:150px;
       padding-left:40px;
       margin: auto;
   }
   .footer-text h5{
       width:400px;
   }
   .footer-text p{
       width:500px;
       margin-bottom: 1px;
   }
   [value="Hours"]{
       width:70px;
       margin-right:4px;
   }
   [value="City"]{
       width:190px;
   }
   [type="cal"]{
       width:150px;
   }
   div.footer-icons{
       margin-top:13px;
       margin-left: 80px;
   }

}
@media (min-width:80rem){
    main{
        height:560px;
        width:1050px;
    }
    .intro-image img{
    width:450px;
    height:350px;    
    padding-top: 2px;  
    padding:5px;
    margin-right:150px;
    
    }
    main section:nth-child(2){
        display: flex;
        position: absolute;
    }
    .intro-text h4{
        width:450px;
    }
    section.html-form{
        margin-left:750px;
        position: relative;
        top:30px;
        height:380px;
        width:370px;
    }
    div h2{
        font-size: 30px;
    }
    div h3{
        font-size: 25px;
        margin-bottom: 0px;

    }
    input.contact-form-input{
        width:300px;
        height:30px;
    }
    [type="checkbox"]{
        width:15px;
    }
    span.text{
        font-size:20px;
    }
    [type="submit"]{
        width:300px;
        height:40px;
    }
    .contact-form-footer{
        font-size: 12px;
    }
    footer.footer{
        width:1200px;
    }
    form.contact-form{
        margin-left:10px;
    }
    div.footer-icons{
        margin-left: 900px;
        margin-top:-30px;
    }

}