footer{
    background-color: rgb(195, 209, 206);
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color:#36ccbf;
}
form{
    padding:0.1rem;
    max-width:550px;
    margin:0 auto;
    box-shadow: 3px 3px 3px 3px;
    margin-right: 2px;
  }
  fieldset{
    border:none;
    opacity: 40%;
    height:60px;
    
  }
  fieldset label{
    display:block;
    font-weight:bold;
    color: #841bca;
    font-size:22px;
    font-family:acme;
    
  }
  fieldset input [type="text"],textarea{
    width:380px;
    height:40px;
  }
  fieldset input{
    width:380px;
    height:25px;
  }
  button{
    height:45px;
     width:150px;
     font-family:fantasy;
     font-size:20px;
     border-radius: 20px;
     background-color: #ca1b47;
     margin-top: 65px;
     margin-left:130px;
  }
  button:hover{
    background-color: #F1E00E;
}
th,h4{
    font-size: 25px;
}
p{
    margin-top:20px ;
}
.social-icons{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
  }
  .icon img{
    margin-top: 20px;
    padding:5px;
    height:35px;
    width:50px;
  
  }
.jumbotron h1{
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    color:rebeccapurple;
}
.jumbotron p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.col-sm-4 img{
    width:75%;
    height:80%;
    transform:scale(0.5);
  transition:transform 1s;
}
.col-sm-4 img:hover{
  transform:scale(1);
transition:transform 1s;
}
div.row{
  margin-left: 100px;
  margin-top: 100px;
}
.jumbotron{
  background-color: rgb(241, 239, 92);
}
.carousel-inner img{
  height:600px;
}
.card{
margin-left: 400px;
margin-top: 50px;
}
.card p{
  font-weight: bold;
  font-size: 20px;
  }
  .map{
    height: 300px;
  }
  .progress{
    width:50%;
    height:100px;
    margin-left: 380px;
  }